.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar a {
  text-decoration: none;
  font-size: 18px;
  color: #222;
  font-weight: 500;
}

.navbar a:hover {
  color: green;
}

.login-btn {
  padding: 6px 14px;
  background: green;
  color: white !important;
  border-radius: 8px;
}

