header{
    padding: 10px;
    background-color: aqua;
    border-radius: 15px;
    width: auto;
    gap: 15px;
    margin: auto;
    margin-right: -10px;
}

body{
    background-color:whitesmoke
    
}
nav a{
    font-size: 20px;
    margin-top: -50px;
    margin-right: 20px;
}
nav{
    gap: 30px;
    display:flex;
    padding-left: 100px;
    
}
nav a:hover{
    color: blue;
}
.divup
{
    box-shadow: 4px 4px 4px black;
    background-color: blueviolet;
}
table{
    display:flex;
    margin-left: 180px;
}
h2{
    text-align: center;
    
}
h2,h5{
    text-align: center;
    
}
a{
    text-decoration: none;
    color: black;
    font-size: 30px;
}
.sec
{
    display: flex;
    justify-content: center; 
    gap: 20px;
    align-items: center;
    padding: 20px;
    gap: 30px;
   
    
}


#dog
{
    
    width: 500px;
    height: 500px;
    /* background-image: url(Images/1433886.jpg); */
    background-image: url(/Images/serviclogo.jpeg);
    background-size: cover;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */

}
p{
    font-size: 30px;
     text-align: center;
}
#miss
{
    font-size: 20px;
    color:black;
    border-radius: 20px;
    padding: 10px;
    width: 330px;
    color: rgb(222, 101, 26);
    font-family: sans-serif;
}
#cat
{
    
    width: 200px;
    height: 200px;
    background-color: beige;
    border-radius: 20px; 
    background-image: url(/Images/d1.jpg);
    background-size: cover;
    /* padding-left: -300px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

#vet
{
    background-image: url(/Images/c1.jpg);
    background-size: cover;
    width: 200px;
    height: 200px;
    background-color: beige;
    border-radius: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar a {
    text-decoration: none;
    font-size: 18px;
    color: #222;
    font-weight: 500;
}

.navbar a:hover {
    color: green;
}

.login-btn {
    padding: 6px 14px;
    background: green;
    color: white !important;
    border-radius: 8px;
}

.footer {
  background: white;
  font-family: sans-serif;
  font-size: 14px;
}

.footer-container {
  max-width: 1100px;
  margin: auto;
  padding: 40px 0;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.footer-col h3 {
  font-size: 15px;
  margin-bottom: 12px;
}

.footer-col p,
.footer-col li {
  font-size: 13px;
  margin-bottom: 8px;
  list-style: none;
}

.footer-col ul {
  padding: 0;
}

.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
}

.images img {
  width: 100%;
  border-radius: 4px;
}

.footer-bottom {
  border-top: 1px solid #ddd;
  text-align: center;
  padding: 15px 0;
  font-size: 12px;
  color: #555;
}
.footer-div{
    padding: 50px;
}
